# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
# Rule: Set personal preferences for analyzer diagnostics
csharp_style_expression_bodied_accessors = when_on_single_line
csharp_style_expression_bodied_constructors = when_on_single_line
csharp_style_expression_bodied_indexers = when_on_single_line
csharp_style_expression_bodied_lambdas = when_on_single_line
csharp_style_expression_bodied_local_functions = when_on_single_line
csharp_style_expression_bodied_methods = when_on_single_line
csharp_style_expression_bodied_operators = when_on_single_line
csharp_prefer_braces = when_multiline
csharp_style_namespace_declarations = file_scoped
csharp_style_var_elsewhere = true
csharp_style_var_when_type_is_apparent = true
dotnet_sort_system_directives_first = true
dotnet_style_require_accessibility_modifiers = omit_if_default

[*.{received,verified}.*]
generated_code = true

[**/*Tests.cs]
dotnet_diagnostic.CA1707.severity = none
